<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--Not good approach-->
    <bean class="com.msg.Airtel" id="airtel" />
    <bean class="com.msg.Idea" id="idea" />

    <!--Best Approach, If required we can change the class name...-->
    <bean id="sim" class="com.msg.VodaPhone" />

    <bean id="sai" class="com.msg.SetterInjectLiterals.Student">
        <property name="studentName" value="Sai" />
        <property name="id" value="1" />
    </bean>

    <bean id="ganesh" class="com.msg.SetterInjectLiterals.Student">
        <property name="studentName" value="Ganesh" />
        <property name="id" value="2" />
    </bean>

    <bean id="teacher" class="com.msg.SetterInjectLiterals.Teacher" >
        <constructor-arg value="ganeshTech" type="java.lang.String" name="teacherName" />
        <constructor-arg value="1" type="int" name="id" />
    </bean>
</beans>
